.chatApp {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  /* position: relative; */
}

.chatList {
  width: 25%;
  max-height: 100%;
  background-color: #030b17;
  overflow: hidden;
  padding: clamp(0.3rem, 1vw, 0.5rem);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  row-gap: clamp(0.5rem, 1vw, 1rem);
  color: #d3d3d3;
  transition: transform 0.4s ease;
  overflow-y: auto;
}

.chatListHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-top: 1rem;
}

.chatListItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #0d1f3a;
  border-radius: 0.5rem;
}

.x {
  margin-left: clamp(0.2rem, 1.5vw, 1rem);
  color: #f90784;
  cursor: pointer;
}

.chatListItem.active {
  background: rgba(21, 21, 232, 0.779);
}

.newChat {
  margin-left: clamp(0.2rem, 1vh, 1rem);
  color: #f90784;
  cursor: pointer;
}

h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 900;
  letter-spacing: 0.15rem;
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-transform: uppercase;
  color: #d3d3d3;
}

h4 {
  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  text-transform: uppercase;
}

h5 {
  font-family: "exo 2", sans-serif;
  font-size: clamp(0.8rem, 1vw, 1rem);
}

.chatWindow {
  width: 75%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  padding: 0.5rem;
  margin-top: 1rem;
  row-gap: clamp(0.5rem, 1vw, 1rem);
  overflow-y: auto;
  /* overflow-x: hidden; */
  flex-grow: 1;
}

.chatWindow::-webkit-scrollbar {
  width: 0;
}

c .chatTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
  cursor: pointer;
  font-size: clamp(1rem, 1vw, 1.2rem);
  color: #f90784;
}

.home:hover {
  transform: scale(1.1);
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.7rem, 1.5vw, 1.7rem);
  padding: 1rem;
  flex-grow: 1;
}

.prompt,
.response {
  max-width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.prompt {
  align-self: flex-end;
  background-color: #58a6ff;
  border-radius: 3rem 0 3rem 3rem;
}

.response {
  align-self: flex-start;
  background-color: rgba(21, 21, 232, 0.779);
  border-radius: 0 3rem 3rem 3rem;
  color: #d3d3d3;
}

.prompt span,
.response span {
  font-family: "exo 2", sans-serif;
  font-size: clamp(0.8rem, 1vw, 1rem);
  display: block;
  margin-top: 0.5rem;
  align-self: flex-end;
}

.typing {
  color: darkgrey;
  margin-top: auto;
}

.msgForm {
  width: 100%;
  /* min-height: 10rem; */
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  gap: 1rem;
  position: relative;
}

.msgForm i {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  color: #f90784;
  cursor: pointer;
  padding: clamp(0.8rem, 1vw, 1rem);
}

.msgInput {
  height: 100%;
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #d3d3d3;
  font-size: clamp(1rem, 1vw, 1.5rem);
  line-height: 1.5;
  padding: 0.5rem;
  overflow-y: hidden;
}

.msgInput::placeholder {
  color: #d3d3d3;
  font-size: clamp(1rem, 1vw, 1.5rem);
  line-height: 1.5;
}

.msgInput:focus::placeholder {
  opacity: 0;
}

.picker {
  position: absolute;
  bottom: 5rem;
  left: 0.5rem;
  z-index: 10;
}

@media (max-width: 768px) {
  .picker {
    max-width: 15rem;
  }
}

@media (max-width: 900px) {
  .chatApp {
    flex-direction: column;
  }

  .chatList {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    transform: translateX(-100%);
    z-index: 1000;
  }

  .xMobile {
    display: block;
    margin-left: clamp(0.2rem, 1.5vw, 1rem);
    color: #f90784;
    cursor: pointer;
  }

  .chatList.show {
    transform: translateX(0);
  }

  .chatTitle {
    display: flex;
  }

  .chatTitle h3 {
    padding-left: 1rem;
    flex-grow: 1;
  }

  .menu {
    display: block;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #f90784;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .menu:hover {
    transform: scale(1.1);
  }

  .chatWindow {
    width: 100%;
  }
}

@media (min-width: 901px) {
  .chatTitle i.menu,
  .xMobile {
    display: none;
  }
}
